VERIFY_TOKEN=mi_token_secreto_2024
WHATSAPP_TOKEN=EAAGa1dJXFOiwBRkNa1sQoUGh5wYrckFkwD18UoT1AgSH1vgWEGnUV4GHMhZCJixgYr8BVkLsZCG7L9CeeLzqXCvzL5ArkNXikfeGcRtmc15KSOtej0pi4qecf0qmYWYr72NUWVj2HOnxbCZCUZBdpehoifUcZASP7sM1fLTmjf3kz7bemLizsz5ak7VIJqLfVZC5N7fyC9u1TQLJrbWNOefZBcGvb41TJIFfIH6AJhL2KdamEU1ibRJFzrIzwDxHGxMhUZAyzU01AXbXLfNzZAyw8ZD
PHONE_NUMBER_ID=1101697819700773